# Ignore python virtual environments
venv/

# Ignore python cache files
backend/python/__pycache__/
backend/__pycache__/

# Ignore vscode and IDE files
.vscode/
.idea/

# Ignore node modules and build files
backend/node/node_modules/

#ignore environment files
backend/node/.env
backend/node/uploads/

backend/testfiles

comenzi.txt