:root {  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.125rem; /* Changed to match Tailwind's base font size */  

  /* Changed to light theme by default */
  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #4f46e5; /* Changed to match blue-600 from Tailwind */
  text-decoration: inherit;
}

a:hover {
  color: #4338ca; /* Changed to match blue-700 from Tailwind */
}

a:focus {
  outline: 2px solid #4f46e5; /* Adaugă o bordură albastră la focus */
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  background-color: #ffffff;
  }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top:0;
  margin-bottom:0px;
}
h2 {
  font-size: 1.8em;
  line-height: 1.0;
  margin-top:0.5;
  margin-bottom:0px;
}


